body {
  overflow-x: hidden;
  font-family: "Roboto Mono", monospace;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
  visibility: hidden;
}

@media (max-width: 768px) {
  #nav-header .nav-menu-wrapper {
    height: 0px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  #nav-header .hamburger-icon {
    width: 20px;
    height: 2px;
    background-color: #fff;
    display: block;
    position: relative;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  #nav-header .hamburger-icon:before {
    content: "";
    width: 20px;
    height: 2px;
    position: absolute;
    bottom: 8px;
    left: 0;
    background-color: #fff;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  #nav-header .hamburger-icon:after {
    content: "";
    width: 20px;
    height: 2px;
    position: absolute;
    top: 8px;
    left: 0;
    background-color: #fff;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  #nav-header.expanded-nav .nav-menu-wrapper {
    height: 166px;
    padding-top: 16px;
    padding-bottom: 8px;
  }
  #nav-header.expanded-nav .hamburger-icon {
    background-color: transparent;
  }
  #nav-header.expanded-nav .hamburger-icon:before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: 0;
  }
  #nav-header.expanded-nav .hamburger-icon:after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 0;
  }
}

.active-qnav {
  background: #fafbfc;
}

.clip-path-button {
  -webkit-clip-path: polygon(0 0, 80% 0, 100% 0, 100% 68%, 92% 100%, 0 100%, 0 80%, 0 20%);
  clip-path: polygon(0 0, 80% 0, 100% 0, 100% 68%, 92% 100%, 0 100%, 0 80%, 0 20%);
}

@-webkit-keyframes marquee {
  0% {
    -webkit-transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
  }
}

@keyframes marquee {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

.marquee-wrapper p {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-animation: marquee 15s linear infinite;
  animation: marquee 15s linear infinite;
}

.box-content {
  -webkit-clip-path: polygon(0 0, 80% 0, 100% 0, 100% 76%, 74% 100%, 0 100%, 0 80%, 0 20%);
          clip-path: polygon(0 0, 80% 0, 100% 0, 100% 76%, 74% 100%, 0 100%, 0 80%, 0 20%);
}

.box-content:hover span {
  color: #fff;
  z-index: 1;
}

.box-content:hover img {
  z-index: 1;
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}

.box-content:hover .overlay {
  opacity: 1;
}

.box-content .overlay {
  -webkit-clip-path: polygon(0 0, 80% 0, 100% 0, 100% 94%, 93% 100%, 0 100%, 0 80%, 0 20%);
          clip-path: polygon(0 0, 80% 0, 100% 0, 100% 94%, 93% 100%, 0 100%, 0 80%, 0 20%);
}

.player-box {
  -webkit-clip-path: polygon(0 0, 80% 0, 100% 0, 100% 85%, 90% 100%, 0 100%, 0 80%, 0 20%);
          clip-path: polygon(0 0, 80% 0, 100% 0, 100% 85%, 90% 100%, 0 100%, 0 80%, 0 20%);
}

.fade {
  -webkit-transition: opacity 0.6s;
  transition: opacity 0.6s;
  -webkit-animation-timing-function: ease-in, steps(5, end);
          animation-timing-function: ease-in, steps(5, end);
}

.fadeOut {
  opacity: 0;
}

.fadeIn {
  opacity: 1;
}

.see-all-box {
  padding: 1px;
  -webkit-clip-path: polygon(0 0, 80% 0, 100% 0, 100% 87%, 83% 100%, 0 100%, 0 80%, 0 20%);
          clip-path: polygon(0 0, 80% 0, 100% 0, 100% 87%, 83% 100%, 0 100%, 0 80%, 0 20%);
}

.see-all-box .box-content {
  -webkit-clip-path: polygon(0 0, 80% 0, 100% 0, 100% 87%, 83% 100%, 0 100%, 0 80%, 0 20%);
          clip-path: polygon(0 0, 80% 0, 100% 0, 100% 87%, 83% 100%, 0 100%, 0 80%, 0 20%);
}

.see-all-box .box-content img {
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}

.youtube-player {
  position: relative;
  overflow: hidden;
  max-width: 100%;
}

.youtube-player iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: transparent;
}

.youtube-player img {
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  left: 0;
  bottom: 0;
  margin: auto;
  max-width: 100%;
  width: 100%;
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  height: auto;
  cursor: pointer;
  -webkit-transition: 0.4s all;
  transition: 0.4s all;
}

.youtube-player img:hover {
  -webkit-filter: brightness(75%);
  -moz-filter: brightness(75%);
  filter: brightness(75%);
}

.youtube-player .play {
  height: 72px;
  width: 72px;
  left: 50%;
  top: 50%;
  margin-left: -36px;
  margin-top: -36px;
  position: absolute;
  background: url("../images/icons/play-button-black.svg") no-repeat;
  cursor: pointer;
}

@media (max-width: 768px) {
  .banner-mobile {
    min-height: 360px;
    background: url("../images/icons/banner-right.png") no-repeat center right;
    background-size: 70%;
  }
}

.contribute-bg {
  background: url("../images/icons/contribute-bg.png") no-repeat center right;
}

.folder-shape {
  -webkit-clip-path: polygon(40% 0, 50% 13%, 100% 13%, 100% 89%, 89% 100%, 0 100%, 0 0);
          clip-path: polygon(40% 0, 50% 13%, 100% 13%, 100% 89%, 89% 100%, 0 100%, 0 0);
}

.folder-shape:hover .folder-shape-inner {
  background-image: linear-gradient(122deg, rgba(212, 83, 181, 0.2) 2.07%, rgba(94, 94, 221, 0.2) 92.95%);
}

.folder-shape-inner {
  -webkit-clip-path: polygon(39% 0, 49% 13%, 100% 13%, 100% 89%, 89% 100%, 0 100%, 0 0);
          clip-path: polygon(39% 0, 49% 13%, 100% 13%, 100% 89%, 89% 100%, 0 100%, 0 0);
}

.marquee-wrapper {
  background-image: repeating-linear-gradient(13deg, #D453B6, #D453B6 14px, transparent 14px, transparent 25px, #D453B6 25px), repeating-linear-gradient(103deg, #D453B6, #D453B6 14px, transparent 14px, transparent 25px, #D453B6 25px), repeating-linear-gradient(193deg, #D453B6, #D453B6 14px, transparent 14px, transparent 25px, #D453B6 25px), repeating-linear-gradient(283deg, #D453B6, #D453B6 14px, transparent 14px, transparent 25px, #D453B6 25px);
  background-size: 0px 100%, 100% 1.5px, 0px 100% , 100% 1.5px;
  background-position: 0 0, 0 0, 100% 0, 0 100%;
  background-repeat: no-repeat;
}

.seperator-gradient {
  background: url("../images/icons/pattern-strip.svg") repeat-x top left;
}

.main-video-wrapper {
  max-width: 400px;
  -webkit-clip-path: polygon(9% 0, 100% 0, 100% 84%, 89% 100%, 0 99%, 0 14%);
          clip-path: polygon(9% 0, 100% 0, 100% 84%, 89% 100%, 0 99%, 0 14%);
  min-height: 226px;
}

.main-video-wrapper .main-video-inner {
  -webkit-clip-path: polygon(9% 0, 100% 0, 100% 84%, 89% 100%, 0 99%, 0 14%);
          clip-path: polygon(9% 0, 100% 0, 100% 84%, 89% 100%, 0 99%, 0 14%);
  background-color: #242424;
}
/*# sourceMappingURL=main.css.map */