@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600;700&display=swap');
@font-face {
    font-family: 'gt_flexa_bold';
    src: url('../fonts/gt-flexa-bold-webfont.eot');
    src: url('../fonts/gt-flexa-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gt-flexa-bold-webfont.woff2') format('woff2'),
         url('../fonts/gt-flexa-bold-webfont.woff') format('woff'),
         url('../fonts/gt-flexa-bold-webfont.ttf') format('truetype'),
         url('../fonts/gt-flexa-bold-webfont.svg#gt_flexa_trialbd') format('svg');
    font-display: swap;
}
@font-face {
    font-family: 'gt_flexa_regular';
    src: url('../fonts/gt-flexa-compressed-regular-webfont.eot');
    src: url('../fonts/gt-flexa-compressed-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gt-flexa-compressed-regular-webfont.woff2') format('woff2'),
         url('../fonts/gt-flexa-compressed-regular-webfont.woff') format('woff'),
         url('../fonts/gt-flexa-compressed-regular-webfont.ttf') format('truetype'),
         url('../fonts/gt-flexa-compressed-regular-webfont.svg#gt_flexa_trialcm_rg') format('svg');
    font-display: swap;
}
@font-face {
    font-family: 'gt_flexa_medium';
    src: url('../fonts/gt-flexa-medium-webfont.eot');
    src: url('../fonts/gt-flexa-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gt-flexa-medium-webfont.woff2') format('woff2'),
         url('../fonts/gt-flexa-medium-webfont.woff') format('woff'),
         url('../fonts/gt-flexa-medium-webfont.ttf') format('truetype'),
         url('../fonts/gt-flexa-medium-webfont.svg#gt_flexa_trialmd') format('svg');
    font-display: swap;
}
body{
    font-family: 'Roboto Mono', monospace;
    background-color: #242424;
}
.font-inter{
    font-family: 'Inter', sans-serif;
}
.flexa-bold{
    font-family: 'gt_flexa_bold', sans-serif; 
}
.flexa-regular{
    font-family: 'gt_flexa_regular', sans-serif; 
}
.flexa-medium{
    font-family: 'gt_flexa_medium', sans-serif; 
}
::-moz-selection{
    color: #fff;
    background: #6F42C1;
}
::selection {
    color: #fff;
    background: #6F42C1;
}

@tailwind base;
@tailwind components;
@tailwind utilities;


.bg-gradient-purple{
    background-image: linear-gradient(to left, #743ad5, #d53a9d);
}
.primary-gradient-text{
    @apply text-transparent bg-clip-text bg-gradient-to-r from-secondary to-primary;
}