

<footer class="w-full float-left bg-[#242424]">
  <div class="w-full float-left bg-[url(../images/icons/footer-bg.svg)] bg-repeat-x bg-[left_top_-24px] px-4 md:px-6 lg:px-10 xl:px-16">
    <div class="max-w-7xl w-full mx-auto clearfix">
      <div class="w-full flex md-lt:flex-col md-lt:space-y-6 md:justify-between md:space-x-4 md-lt:py-8 md:pt-28 md:pb-16">
        <div class="float-left">
          <p class="w-full text-base zirkon-regular text-white mb-5 md-lt:mb-0 float-left">
            Appblocks
          </p>
          <ul class="w-full float-left [&>li]:text-sm [&>li]:sm:text-base [&>li]:font-medium [&>li]:text-white [&>li]:mt-3">
              <li>
                Share and reuse prebuilt Blocks,<br/>
Standardise app development.
              </li>
          </ul>
        </div>
        <div class="float-left">
          <p class="w-full text-base zirkon-regular text-white mb-5 md-lt:mb-0 float-left">
            Community
          </p>
          <ul class="w-full float-left [&>li>a]:text-sm [&>li>a]:sm:text-base [&>li>a]:font-medium [&>li>a]:text-white [&>li]:mt-3">
            <li>
              <a class="hover:underline" href="https://discord.gg/74QGSVxF" target="_blank">Discord</a>
            </li>
            <li>
              <a class="hover:underline" href="https://twitter.com/Appblocksapp" target="_blank">X (Twitter)</a>
            </li>
            <li>
              <a class="hover:underline" href="https://github.com/appblocks-hub" target="_blank">GitHub</a>
            </li>
          </ul>
        </div>
        <div class="float-left">
          <p class="w-full text-base zirkon-regular text-white mb-5 md-lt:mb-0 float-left">
            Contact Us
          </p>
          <ul class="w-full float-left [&>li>a]:text-sm [&>li>a]:sm:text-base [&>li>a]:font-medium [&>li>a]:text-white [&>li]:mt-3">
            <li>
              <a class="hover:underline" href="mailto:support@appblocks.com" target="_blank">support@appblocks.com</a>
            </li>
          </ul>
        </div>
      </div>
      <div
        class="flex w-full float-left flex-col md:flex-row space-y-4 md:space-y-0 justify-between items-center py-5 border-t border-ab-gray-dark">
        <a href="/" class="float-left flex-shrink-0" aria-label="Appblock Home page"><img width="144" height="32"
            alt="Logo" src="../../assets/images/logo-footer.svg" /></a>
        <p class="flex-grow text-center text-sm my-1 zirkon-regular text-white px-2">
          Copyright Ⓒ Appblocks 2023 | All rights reserved
        </p>
        <div class="flex justify-center items-center flex-wrap text-white space-x-2">
          <a class="cursor-pointer my-1 group" target="_blank" aria-label="linkedin"
            href="https://www.linkedin.com/company/89235117/admin/">
            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_5582_13927)">
                <path class="group-hover:opacity-80 transition-all"
                  d="M11.56 9.78218C11.56 10.7624 10.937 11.5644 9.77998 11.5644C8.71199 11.5644 8 10.7624 8 9.87129C8 8.89109 8.71199 8 9.77998 8C10.848 8 11.56 8.80198 11.56 9.78218Z"
                  fill="#ffffff" />
                <path class="group-hover:opacity-80 transition-all" d="M11.5598 12.4456H8.00977V24H11.5598V12.4456Z"
                  fill="#ffffff" />
                <path class="group-hover:opacity-80 transition-all"
                  d="M20.0841 12.6238C18.2151 12.6238 17.157 13.6931 16.712 14.406H16.623L16.445 12.8911H13.251C13.251 13.8713 13.34 15.0198 13.34 16.3565V24H16.89V17.6931C16.89 17.3366 16.89 17.0693 16.979 16.802C17.246 16.1782 17.691 15.3763 18.67 15.3763C19.916 15.3763 20.45 16.4456 20.45 17.8614V23.9901H24V17.4159C23.9902 14.1287 22.2992 12.6238 20.0841 12.6238Z"
                  fill="#ffffff" />
              </g>
              <defs>
                <clipPath id="clip0_5582_13927">
                  <rect width="32" height="32" fill="white" />
                </clipPath>
              </defs>
            </svg>
          </a>
          <a class="cursor-pointer my-1 group" target="_blank" aria-label="facebook"
            href="https://www.facebook.com/profile.php?id=100086034980312">
            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_5582_13928)">
                <path class="group-hover:opacity-80 transition-all"
                  d="M19.4131 10.228H20.9911V7H18.6152C15.2465 7 13.6418 8.88508 13.6418 11.5709V14.1149H11V17.1844H13.6418V25H17.6046V17.1844H20.2465L21 14.1149H17.6135V12.013C17.6046 11.1622 18.1011 10.228 19.4131 10.228Z"
                  fill="#ffffff" />
              </g>
              <defs>
                <clipPath id="clip0_5582_13928">
                  <rect width="32" height="32" fill="white" />
                </clipPath>
              </defs>
            </svg>
          </a>
          <a class="cursor-pointer my-1 group" target="_blank" aria-label="Twitter"
            href="https://twitter.com/Appblocksapp">
            <svg width="32" height="16" viewBox="0 0 18 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M0.0415975 0L6.64178 8.82491L0 16H1.49492L7.30992 9.71796L12.0081 16H17.095L10.1233 6.67879L16.3055 0H14.8106L9.45547 5.78545L5.1285 0H0.0415975ZM2.23994 1.10103H4.57684L14.8964 14.899H12.5595L2.23994 1.10103Z" fill="white"/>
</svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>