<header id="nav-header" class="w-full fixed top-0 left-0 bg-[#242424] z-50 px-4 md:px-6 lg:px-10 xl:px-16">
  <div
    class="max-w-7xl w-full mx-auto flex flex-wrap items-center justify-between min-h-[72px] py-[18px] relative">
    <a href="/" class="focus:outline-none flex items-center space-x-3"><img class="max-w-[72px]" src="../../assets/images/logo.svg"><img class="hidden lg:inline-block" src="../../assets/images/logo-txt.svg"></a>
    <button onclick="showmenu(this)" type="button"
      class="inline-flex items-center justify-center p-2 ml-3 md:hidden focus:outline-none h-9"
      aria-controls="navbar-default" aria-expanded="false">
      <span class="sr-only">Open main menu</span>
      <span class="hamburger-icon"></span>
    </button>
    <div id="navbar-responsive"
      class="nav-menu-wrapper w-full md-lt:basis-full top-[72px] left-0 md:flex items-center md:w-auto md:space-x-3 md-lt:bg-[#110D17] md-lt:overflow-hidden">
      <ul
        class="flex flex-col my-3 md:flex-row md:items-center md-lt:space-y-2 md:space-x-3 md:pl-2 md:my-0 text-white/80">
        <li>
          <a href="#techSection" class="block hover:no-underline hover:bg-[#24292E] transition-all md:px-2 lg:px-4 py-2 text-base font-medium">What’s Appblocks</a>
        </li>
        <li>
          <a href="#opensource" class="block hover:no-underline hover:bg-[#24292E] transition-all md:px-2 lg:px-4 py-2 text-base font-medium">Projects to contribute</a>
        </li>
        <li>
          <a href="https://hacktoberfest-register.appblocks.com/" target="_blank" class="block clip-path-button transition-all bg-gradient-purple float-left p-px">
         <span class="bg-[#242424] hover:bg-white hover:text-primary px-5 py-1.5 h-full float-left flex justify-center items-center clip-path-button text-base font-medium">Register Now</span>
        </a>
        </li>
      </ul>
    </div>
  </div>
</header>
<script>
  function showmenu() {
    document.getElementById("nav-header").classList.toggle("expanded-nav");
  }
</script>